<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href={% url "pagina" %}>Inicio</a>
        <a href={% url "crear_cigarro" %}>Crear cigarro</a>
        <a href={% url "listado_de_cigarros" %}>Cigarros</a>

        {% if request.user.is_authenticated %}
        <form action={% url "cerrar_sesion" %} method="post">
            {% csrf_token %}
            <input type="submit" value="Cerrar Sesion">
        </form>    
        {% else %}
        <a href={% url "iniciar_sesion" %}>Inciar Sesion</a>
        {% endif %}
    </nav>

    <h1>Iniciar sesion{{cigarro.id}}</h1>

    <form action={% url "iniciar_sesion" %} method="POST">
        {% csrf_token %}
        
        {{formulario}}

         <input type="submit" value="Iniciar Sesion">

    </form>    
</body>
</html>