<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href={% url "pagina" %}>Inicio</a>
        <a href={% url "crear_cigarro" %}>Crear cigarro</a>
        <a href={% url "listado_de_cigarros" %}>Cigarros</a>
        <a href={% url "iniciar_sesion" %}>Inciar Sesion</a>
    </nav>

    <h1>Formulario de actualizacion de cigarros{{cigarro.id}}</h1>

    <form action={% url "actualizar_cigarro" cigarro.id %} method="POST">
        {% csrf_token %}
        
        {{form}}

         <input type="submit" value="Actualizar">

    </form>    
</body>
</html>