<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "pagina" %}>Inicio</a>
        <a href={% url "crear_cigarro" %}>Crear cigarro</a>
        <a href={% url "listado_de_cigarros" %}>Cigarros</a>
        <a href={% url "iniciar_sesion" %}>Inciar Sesion</a>
    </nav>


    <h1>detalle del acigarro {{cigarro.id}}</h1>

    <ul>
        <li>
            marca: {{cigarro.marca}}
        </li>
        <li>
            cantidad: {{cigarro.cantidad}}

        </li>
    </ul>

</body>
</html>
