<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href={% url "pagina" %}>Inicio</a>
        <a href={% url "crear_cigarro" %}>Crear cigarro</a>
        <a href={% url "listado_de_cigarros" %}>Cigarros</a>
    </nav>

    <h1>Eliminar cigarro</h1>

    <form action={% url "eliminar_cigarro" cigarro.id %} method="POST">
        {% csrf_token %}
        
       <p>
         ¿Estas seguro que deseas eliminar el cigarro {{cigarro}}?
       </p>
         <input type="submit" value="Eliminar">

    </form>    
</body>
</html>